@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #042743;
    padding:10px 0 ;
  }
.sticky-container p{
    padding-top: 15px;
    color: white;
  }

.componentSticky {
    height: 50px;
  }
  
.row {
    position: relative;
    z-index: 1;
  }
.navbar{
  font-size: 20px;
  padding:9px 12px;
}
/* nav{
  width: 40px; */

.navbar-brand{
  font-size: 24px;
}

.social-bar i{
  color: black;
  font-size: 22px;
  margin-right: 10px;
}

.newslogo{
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  height: 130px;
  margin-bottom: -15px;
}